.nav {
  background-color: #3483eb;
  list-style-type: none;
  text-align: center;
  margin: 0;
  border-radius: 15px;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: left;
}

.nav li a:link {
  text-decoration: none;
}

.nav li a:link,
.nav li a:visited {
  color: white;
}

.nav li:hover {
  background-color: #345beb;
  border-radius: 10px;
  border-top: 5px solid #5234eb;
}

.nav li:hover a:link,
.nav li:hover a:visited {
  color: white;
}
